@font-face {
  font-family: 'TT Commons Pro';
  src: url('TTCommons-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('TTCommons-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('TTCommons-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('TTCommons-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('TTCommons-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('TTCommons-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('TTCommons-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('TTCommons-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('TTCommons-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('TTCommons-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('TTCommons-DemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('TTCommons-DemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('TTCommons-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('TTCommons-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('TTCommons-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('TTCommons-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('TTCommons-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('TTCommons-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}