.dplayer-bar, .dplayer-played, .dplayer-loaded {
    height: 5px !important;
}

.dplayer-played {
    background: #e91e63 !important;
}

.dplayer-thumb {
    background: #e91e63 !important;
}

.dplayer-volume-bar-inner {
    background: #e91e63 !important;
}

.dplayer-volume-bar-inner .dplayer-thumb {
    background: #e91e63 !important;
}

.dplayer-controller .dplayer-icons {
    bottom: -9px !important;
}

.dplayer-controller {
    bottom: 18px !important;
}

.dplayer svg path, .dplayer svg circle {
    fill: #e91e63 !important;
}

.dplayer-time {
  position: relative !important;
  width: 100px !important;
  height: 1.5em;
}

.dplayer-ptime {
  position: absolute !important;
  left: 0 !important;
  top: 55% !important;
  transform: translateY(-50%);
  color: #e91e63 !important;
  width: 40px;
  text-align: left;
}

.dplayer-timedivider {
  position: absolute !important;
  left: 45px !important;
  top: 55% !important;
  transform: translateY(-50%);
  color: #e91e63 !important;
}

.dplayer-dtime {
  position: absolute !important;
  left: 60px !important;
  top: 55% !important;
  transform: translateY(-50%);
  color: #e91e63 !important;
  width: 40px;
  text-align: left;
}

.dplayer-controller .dplayer-icons .dplayer-volume .dplayer-volume-bar-wrap {
    margin-bottom: -0.09em !important;
}

.dplayer-setting-speed-item:hover {
    background: #fff !important;
}

.dplayer-setting-speed-item:hover .dplayer-label {
    color: #e91e63 !important;
}

.dplayer-setting-box {
    border-radius: 6px !important;;
    background: #e91e63 !important;
}

.dplayer svg path {
    fill: white !important;
}

/* Hover para opciones de Speed */
.dplayer-setting-speed-panel .dplayer-setting-speed-item:hover {
    background: #fff !important;
}

.dplayer-setting-speed-panel .dplayer-setting-speed-item:hover .dplayer-label {
    color: #e91e63 !important;
}

/* Hover para la opción Loop */
.dplayer-setting-origin-panel .dplayer-setting-loop:hover {
    background: #fff !important;
}

.dplayer-setting-origin-panel .dplayer-setting-loop:hover .dplayer-label {
    color: #e91e63 !important;
}